<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
  | <%= link_to "delete", user, :method => :delete, :confirm => "Tem certeza que deseja deletar o usuario #{user.name}?",
                                :title => "Deletando #{user.name}" %>
  <% end %>
</li>
