<h1>Inicio</h1>
<p>Bem vindo ao AvaliaProf.</p>
<p>O AvaliaProf é um site para discutir sobre matérias e professores da Escola Politécnica. </p>
<p>Com isso pretendemos auxiliar na escolha de turmas, baseado nas avaliações de seu professor, e na escolha das matérias, já que há uma proposta de ampliação do número (atualmente pequeno) de eletivas e optativas.</p>