<h1><%= @professor.name %></h1>
<div class="content">
<h3 class="comments">Comentarios</h3>
<div class="content">

<% if @professor.procomments.empty? %>
<span class="nocomments">Sem comentarios</span>
<% else %>
<table class="comments">
<%= render @procomments %>
</table>
<% end %>

<% if signed_in? %>
  <table summary="For signed-in users">
    <tr>
      <td class="main">
        <h3>Envie um comentario</h1>
        <%= render 'shared/procomment_form' %>
      </td>
    </tr>
  </table>
<% end %>

</div>
</div>
