/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


.container {
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #ddd;
  font-family: Verdana, Arial, Sans-Serif;
  font-size: 9pt;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #eee;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

a:visited {
  color: #333;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: #eee;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

/* Round corners */

.round {
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  border-radius:         4px;
}

.logo {
  background-color: #eee;
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  border-radius:         4px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}


/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
